#ans-btn {
    display: block;
    background-color: #4C3973;
    border: none;
    font-size: large;
    margin: 1px;
    padding: 10px;
    color: white;
    font-weight: 300;
    min-width: 150px;
    text-align: left;
}
#save-btn {
    display: block;
    background-color: #4C3973;
    border: none;
    font-size: large;
    margin: 1px;
    padding: 10px;
    color: white;
    font-weight: 300;
    width: fit-content;
    text-align: left;
}